@import "tailwindcss";

@theme {

  --font-inter: 'Inter', sans-serif;
  --color-auth-background: #fff;
  --color-base-background: #0DB1BD;
  --shadow-toast: 20px 20px 20px 0px rgba(0, 0, 0, 0.08);
  --color-pages-background: #F3F3F3;
  --animate-toast-in: toast-in 0.4s ease-out forwards;
  --animate-toast-out: toast-out 0.4s ease-in forwards;
  --color-card-background: rgba(13, 177, 189, 1);
  --color-card-background-linear: linear-gradient(319.14deg, rgba(226, 226, 226, 0) 57.23%, rgba(255, 255, 255, 0.8) 99.84%);
  --color-table-background: #EBFEFF;
  --shadow-card: 0px 3.2px 2.4px 0px rgba(0, 0, 0, 0.25);
  --color-danger: #EE1D52;

  @keyframes toast-in {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes toast-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}



/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}